input{
  display:block;
  height: 45px;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}

body{
  background-color:#A7DBD8;
  text-align:center;


}

.boxes{
  width: 100%;
  height: 100px;

}
